@import "mocha.css";

* {
    font-family: Roboto;
    font-size: 12px;
    min-height: 0;
}

#waybar {
    background: #06070C;
    color: @text;
}

window#waybar {
  background-color: #06070C;
  border: 2px solid alpha(@crust, 0.3);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language
#mpd {
    background-color: #06070C;
    padding: 0px 6px;
    margin: 0px 3px;
}

/* Workspaces styling remains the same */
#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.focused {
    color: @sky;
    background-color: @surface1;
}

#workspaces button:hover {
    color: @sapphire;
}

/* Rest of the styling with colors remains the same */
#battery {
    color: @green;
}

#battery.warning:not(.charging)
{
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @red;
}

#cpu {
    color: @text;
}

#memory {
    color: @text;
}

#network {
    color: @text;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @text;
}

#pulseaudio.muted {
    color: @overlay0;
}

#language {
    color: @sapphire;
    min-width: 16px;
}

#temperature {
    color: @text;
}

#temperature.critical {
    color: @red;
}

#tray {
    color: @blue;
}

#idle_inhibitor {
    color: @overlay2;
}

#idle_inhibitor.activated {
    color: @green;
}

#mpd {
    color: @mauve;
}

#mpd.disconnected {
    color: @red;
}

#mpd.stopped {
    color: @overlay0;
}

#mpd.paused {
    color: @overlay2;
}
